.card-img3 img {
    width: 116px;
    height: 116px;
}

.card-img3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(246, 194, 157, 1);
    height: 185px;
    width: 100%;
}
